/* ================= GLOBAL RESETS & FONTS ================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul {
    list-style: none;
}

/* ================= HEADER ================= */

.header{
    position:sticky;
    width:100%;
    top:0;
    left:0;
    z-index:100;
    /* margin: 0 auto; */
    padding: 20px 0px;
    background:#0B1F44;
    transition: .35s;
}

.header .container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-area img{
    border-radius: 50%;
    width:100px;
}

.logo-content h2{
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    color:#fff;
    font-size:26px;
    line-height:1.2;
}

.logo-content p{
     font-family: 'poppins',sans-serif;
    color:#d7d7d7;
    font-size:11px;
    letter-spacing:2px;
}

.navbar ul{
    display:flex;
    gap:40px;
}
.navbar ul li a{
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    font-size: 14px;      
    font-weight: 400;    
    font-family: 'Poppins', sans-serif;
    color: #fff;
    transition: 0.3s ease;
    letter-spacing: 0.5px;
}

.navbar a{
    color:#fff;
    font-size: 20px;
    font-family: 'poppins'sans-serif;
    font-size:15px;
    text-decoration: none;
    font-weight:600;
    transition:.3s;
}
.navbar ul li a:hover{
    color: #f57c00;
}

.donate-btn{
    font-family:'Poppins',sans-serif;
    background: #f57c00;
    color:#fff;
    padding:14px 28px;
    border-radius:6px;
    font-weight:600;
    display:flex;
    gap:10px;
    align-items:center;
}

/* ================= HERO SECTION ================= */
.hero {
    padding-top: 90px;
    background:#fff;
    padding: 0;
    margin: 0; 
    position: relative;
}

.hero-container {
    display: flex;
    align-items: center;
    padding-left: 8%;
    justify-content: space-between;
    min-height: calc(100vh-90px);
}

.hero-content {
    flex: 1;
    max-width: 550px;
}

.hero-subtitle {
    color: #f57C00;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
}

.hero-content h1 {
    font-size: 46px;
    color: #031b4e;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #f37022;
    font-weight:600 ;
}

.hero-content p {
    color: #555555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 25px;
}

.btn-primary {
    background: #031b4e;
    color: #ffffff;
    padding: 18px 32px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-primary:hover {
    background: #021235;
}

.btn-secondary {
    border: 1px solid #f37022;
    color: #f37022;
    padding: 18px 32px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-secondary:hover {
    background: #f37022;
    color: #ffffff;
}

.hero-image{
    width:55%;
}

.hero-image img{
    width:100%;
    height:400px;
    object-fit:cover;
    border-bottom-left-radius:160px;
}

/* ================= SECTION TITLE GENERAL ================= */
.section-title {
    margin-top: -100px;
    text-align: center;
    margin-bottom: 50px;
}

.section-title span, 
.partner-card > span, 
.journey-card > span, 
.gallery > span {
    display: none;
}

.section-title span {
    font-size: 14px;
    color: #f37022;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-title h2 {
    font-size: 32px;
    color: #031b4e;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-title p {
    color: #666666;
    font-size: 14px;
}

/* ================= MISSION & VISION ================= */
.mission-vision {
    background: #f4f7fc; 
    width: 100%;
    padding: 150px 10% 60px 10%;
    padding: -5px;
    position: relative;
    z-index: 1;
    border-radius: 120px 0 0 0; 
}

.mv-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.mv-card {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 35px;
    flex: 1;
    box-shadow: 0 15px 35px rgba(3, 27, 78, 0.06); 
    display: flex;
    gap: 20px;
}

.mv-icon {
    background: #f6f4f3;
    color: #f37022;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-shrink: 0;
}

.mv-content h3 {
    font-size: 22px;
    color: #031b4e;
    margin-bottom: 12px;
}

.mv-content p {
    color: #666666;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mv-content a {
    color: #f37022;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.mv-content a::after {
    content: " →";
}

/* ================= FOUNDER SECTION ================= */
.founder {
    background: #f4f7fc;
    padding: 40px 5%;
}

.founder-container {
    background: #031b4e;
    border-radius: 24px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 50px;
    color: #ffffff;
    box-shadow: 0 20px 40px rgba(3, 27, 78, 0.15);
}

.founder-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.founder-image img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.1);
    object-fit: cover;
}

.founder-content {
    flex: 2;
}

.founder-content span {
    color: #f37022;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.founder-content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.founder-content h4 {
    color: #f37022;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.founder-content p {
    color: #dddddd;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.founder-content blockquote {
    font-size: 18px;
    font-style: italic;
    color: #ffffff;
    border-left: 4px solid #f37022;
    padding-left: 20px;
    margin-top: 20px;
    line-height: 1.6;
    position: relative;
}

.founder-content blockquote::before {
    content: "“";
    font-size: 50px;
    color: rgba(243, 112, 34, 0.3);
    position: absolute;
    left: -10px;
    top: -25px;
}

/* ================= PARTNER & JOURNEY ================= */
.partner-journey {
    background: #ffffff; 
    width: 100%;        
    max-width: 100%;    
    padding: 40px  10%;  
    margin: 0;         
    display: flex;
    gap: 30px;
}

.partner-card, .journey-card {
    background: #f4f7fc;
    border-radius: 16px;
    padding: 40px;
    flex: 1;
    box-shadow: 0 15px 35px rgba(3, 27, 78, 0.06);
}

.partner-card-span, .journey-card-span {
    color: #f37022;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.partner-card h2, .journey-card h2 {
    font-size: 24px;
    color: #031b4e;
    margin-bottom: 25px;
}

.partner-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.partner-content img {
    width: 120px;
    object-fit: contain;
}

.partner-content p {
    color: #555555;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.journey-card ul {
    position: relative;
    padding-left: 25px;
}

.journey-card ul::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background: #f37022;
}

.partner-content ul li {
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
}

.partner-content ul li::before {
    content: "⚙";
    left: -25px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #f37022;
}

/* Timeline/Journey */
.journey-card ul {
    position: relative;
    padding-left: 25px;
}

.journey-card ul::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background: #f37022;
}

.journey-card ul li {
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    list-style: none;
    color: #555555;
}

.journey-card ul li::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f37022;
    border: 2px solid #fffbf8;
}

.journey-card ul li strong {
    color: #031b4e;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

/* ================= GALLERY ================= */

.gallery-section{
    padding:20px 0 60px;
    background:#ffffff;
    /* border: 12px; */
}

.gallery-container{
    width:85%;
    margin:auto;
    background:#eef5ff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 35px rgba(0,0,0,.08);
}

.gallery-container h2{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    color:#08204f;
    font-size:40px;
    margin:8px 0 30px;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:18px;
}

.gallery-grid img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:12px;
    transition:.4s;
}

.gallery-grid img:hover{
    transform:scale(1.04);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}

/* ================= IMPACT ================= */

.impact-section{
    margin-bottom: 10px;
    background:#08204f;
    padding:45px 0;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.impact-container{
    width:90%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.impact-title{
    width:220px;
}

.impact-title h2{
    color:#fff;
    font-size:32px;
    font-weight: 600;
    margin-top:10px;
}

.impact-stats{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.impact-item{
    display:flex;
    align-items:center;
    gap:18px;
}

.impact-icon{
    width:70px;
    height:70px;
    background:#ff7a00;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.impact-icon i{
    color:#fff;
    font-size:30px;
}

.impact-text h3{
    color:#ff7a00;
    font-size:42px;
    margin:0;
    font-weight:500;
}

.impact-text p{
    color:#fff;
    margin-top:6px;
    font-size:18px;
}

.divider{
    width:1px;
    height:90px;
    background:rgba(255,255,255,.15);
}

/* ================= FOOTER ================= */

.footer{
    margin-top: 0;
    background:#061b36;
    color:#ffffff;
    font-family:'Poppins',sans-serif;
    width:100%;
}

/* Top Section */

.footer-container{
    width:100%;
    margin:auto;
    padding:40px 50px 25px;
    display:flex;
    grid-template-columns:
    1.8fr
    1fr
    1fr
    1.2fr
    1.2fr;
    gap:40px;
}

/* Vertical Dividers */

.footer-col{
    position:relative;
}

.footer-col:not(:last-child)::after{
    content:"";
    position:absolute;
    right:-20px;
    top:0;
    width:1px;
    height:100%;
    background:rgba(255,255,255,.12);
}

/* Logo */

.logo-box{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.logo-box img{
    border-radius: 50%;
    width:100px;
    height:100px;
    object-fit:contain;
    flex-shrink:0;
}

.footer-logo-content p{
    font-family:'Poppins',sans-serif;
    font-size:14px;
    font-weight:400;
    letter-spacing:2px;
    color:#cfcfcf;
    text-transform:uppercase;
    margin-top:6px;
}

 .foundation h5{
    font-weight: 400;
    font-size:11px;
     line-height:1.8; 
     color:#d9d9d9; 
 }  

/* Text */

.foundation-text{
    color:#d8d8d8;
    font-size:14px;
    line-height:1.8;
    max-width:290px;
}

/* Headings */

.footer-col h3{
    font-family:'Playfair Display',serif;
    font-size:24px;
    font-weight:500;
    margin-bottom:20px;
    color:#fff;
}

/* Links */

.footer-col ul{
    list-style:none;
}

.footer-col ul li{
    margin-bottom:12px;
}

.footer-col ul li a{
    font-family:'Poppins',sans-serif;
    text-decoration:none;
    color:#e7e7e7;
    font-weight: 400;
    font-size:13px;
    transition:.3s;
}

.footer-col ul li a:hover{
    color:#f57c00;
}

/* Social */

.social-icons{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.social-icons a{
    width:38px;
    height:38px;
    background: #453722;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fe8307;
    text-decoration:none;
    font-size:15px;
    transition:.3s;
}

.social-icons a:hover{
    transform:translateY(-3px);
}

/* Contact */

.contact p{
    display:flex;
    align-items:flex-start;
    gap:12px;
    margin-bottom:18px;
    line-height:1.7;
    color:#e7e7e7;
    font-size:13px;
}

.contact i{
    color:#f57c00;
    margin-top:5px;
    font-size:16px;
}

/* Newsletter */

.newsletter p{
    color:#dcdcdc;
    line-height:1.8;
    margin-bottom:18px;
}

.newsletter input{
    width:100%;
    height:48px;
    border:none;
    outline:none;
    padding:0 15px;
    font-size:14px;
    background:#ffffff;
    border-radius:3px;
    margin-bottom:12px;
}

.newsletter button{
    width:100%;
    height:48px;
    border:none;
    cursor:pointer;
    background:#f57c00;
    color:#fff;
    font-size:15px;
    font-weight:500;
    border-radius:3px;
    transition:.3s;
}

.newsletter button:hover{
    background:#e56f00;
}

/* Bottom Bar */

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.08);
    padding:18px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#d8d8d8;
    font-size:14px;
}

.footer-bottom p{
    margin:0;
}

/* Responsive */

@media(max-width:1100px){

    .footer-container{
        grid-template-columns:
        repeat(2,1fr);
    }

    .footer-col::after{
        display:none;
    }
}

@media(max-width:768px){

    .footer-container{
        grid-template-columns:1fr;
        padding:40px 25px;
    }

    .footer-bottom{
        flex-direction:column;
        gap:10px;
        text-align:center;
        padding:20px;
    }
}

/*==============================
      IMAGE VIEWER
===============================*/

.image-viewer-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:99999;
}

.image-viewer-overlay.is-active{
    display:flex;
}

.image-viewer-container{
    position:relative;
    max-width:90%;
    max-height:90%;
}

.image-viewer-container img{
    width:auto;
    max-width:100%;
    max-height:90vh;
    border-radius:12px;
    display:block;
}

.image-viewer-close{
    position:absolute;
    top:-45px;
    right:0;

    background:none;
    border:none;

    color:#fff;
    font-size:45px;
    cursor:pointer;
}

/*================ DROPDOWN MENU ================*/

.navbar ul li{
    list-style: none;
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    padding: 8px 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;

    z-index: 999;
}

.dropdown-menu li{
    width: 100%;
}

.dropdown-menu li a{
    display: block;
    padding: 12px 18px;
    color: #0B1F44 !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.dropdown-menu li a:hover{
    background: #f5f5f5;
    color: #f57c00 !important;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}